.container {
  display: flex;
  height: 94vh;
  align-items: center;
}

.InfCont {
  display: flex;
  width: 90vw;
  height: 70vh;
  align-items: center;
  justify-content: space-evenly;
  border: 4px black solid;
  border-left: 0;
  border-radius: 0 5pc 5pc 0;
  background-color: rgba(0, 0, 0, 0.616);
  box-shadow: 20px 20px 18px 0 rgba(0, 0, 0, 0.3),
    0 2px 20px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 1em;
}

.info {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.InfCont h1 {
  font-size: 6vw;
  margin-bottom: 3vh;
}

.infoCont {
  width: 50%;
}

.status {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  font-size: 1.5em;
}

.status p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.backArr {
  position: absolute;
  left: 92%;
  top: 7%;
  width: 3%;
  height: 6%;
  &:hover {
    filter: invert(1);
    cursor: pointer;
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 50%;
  color: azure;
}

.mainImg {
  width: 25vw;
  height: 25vw;
  border-radius: 2pc;
}
