.divContainer {
  background-color: #cc5500;
  height: 100%;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.divContainer button {
  width: 10vw;
  height: 2pc;
  border-radius: 8px;
  background-color: #cc5500;
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 1pc;
  font-weight: bold;
  transition: background 0.08s ease-in-out;
}

.button1:before {
  content: "Random character";
}
.button2:before {
  content: "Add character";
}

@media (max-width: 1550px) {
  .button1:before {
    content: "Random";
  }
  .button2:before {
    content: "Add";
  }
}

@media (max-width: 750px) {
  .button1:before {
    content: "♻️";
  }
  .button2:before {
    content: "➕";
  }
}

.divContainer button:hover {
  background-color: rgb(241, 197, 143);
  transform: scale(1.05);
  cursor: pointer;
}

.divContainer input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: #f3ab0e;
  border: none;
  width: 15%;
  height: 50%;
  transition: all 0.3s;
}
