.divContainer {
  background-color: aquamarine;
  height: 100%;
  display: flex;
  width: 60%;
  justify-content: center;
}

.divContainer button {
  margin: 15px;
  width: 15pc;
  height: 2pc;
  border-radius: 8px;
  background-color: beige;
  font-family: "Roboto", sans-serif;
  font-size: 1pc;
  font-weight: bold;
  transition: transform 0.2s;
  transition: background 0.08s ease-in-out;
}

.divContainer button:hover {
  background-color: rgb(241, 197, 143);
  transform: scale(1.05);
}

.divContainer input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 0.8rem;
  margin-left: 5.5rem;
  margin-top: 0.98rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 15%;
  height: 50%;
  transition: all 0.3s;
}
